@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  --dark-gray-blue: hsl(217, 19%, 35%);
  --dark-blue: hsl(214, 17%, 51%);
  --gray-blue: hsl(212, 23%, 69%);
  --light-gray-blue: hsl(210, 46%, 95%);

  --ff-main: "Manrope", sans-serif;
  --fw-reg: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --content-padding: 1rem 1.5rem 1.5rem 1.5rem;
}

/* CSS Reset: https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  min-height: 100vh;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* 
================
Main CSS
================
*/

/* 

Used https://www.marcbacon.com/tools/clamp-calculator/ to generate clamps
All based off of 428 or 728 min px
Target values using rem set to a base of 10px

*/

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-gray-blue);
  font-family: var(--ff-main);
}

.article {
    background-color: #fff;
    border-radius: 1rem;
    margin: 0 2rem;
}

.article > img {
    border-radius: 1rem 1rem 0 0;
    min-width: 100%;
    max-height: 20rem;
}

.article__content {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    padding: var(--content-padding);
}

@media only screen and (min-width: 950px) {
    .article {
        display: flex;
        max-width: 73rem;
    }

    .article > img {
        border-radius: 1rem 0 0 1rem;
        min-width: 30rem;
        max-height: 100%;
    }

    .article__content-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .article__content {
        padding: 2rem;
    }
}

/* 
================
Author Info
================
*/

.content__author {
  display: flex;
  padding: var(--content-padding);
}

.content__author > img {
  max-width: 3.5rem;
  border-radius: 100%;
}

.content__author .col :nth-child(1) {
  font-weight: var(--fw-bold);
  color: var(--dark-gray-blue);
}

.content__author .col :nth-child(2) {
  color: var(--gray-blue);
}

.content__author .col {
  align-self: center;
  padding-left: .8rem;
}

/* 
================
Share Modal
================
*/

.share-modal {
  display: flex;
  gap: .5rem;

  padding: var(--content-padding);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  border-radius: 0 0 1rem 1rem;
  background-color: var(--dark-gray-blue);
}

@media only screen and (min-width: 950px) {
  .share-modal {
    position: absolute;
    top: -50%;
    left: 70%;
    transform: translateY(-10%);
    border-radius: 1rem;
  }
}

.share-modal > p {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.share-modal button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

/* 
================
Share Button
================
*/

.content__footer-container {
  position: relative;
}

.content__footer-container > button {
  position: absolute;
  left: 85%;
  top: 25%;

  display: flex;
  justify-content: center;

  border: none;
  border-radius: 100%;
  min-width: 2.5rem;
  aspect-ratio: 1 / 1;
  cursor: pointer;
}

.content__footer-container > button > svg {
  align-self: center;
}

.is-sharing {
  background-color: var(--gray-blue);
}

.is-sharing svg {
  fill: #fff;
}

.not-sharing svg {
  fill: #6E8098;
}

.not-sharing:hover svg {
  fill: #fff;
}

.is-sharing:hover,
.not-sharing:hover {
  background-color: var(--dark-blue);
}

/* 
================
Helper Classes
================
*/

.title {
  color: var(--dark-gray-blue);
  font-size: clamp(1.4rem, 1.029rem + 1.079vw, 2rem);
  line-height: clamp(2rem, 1.587rem + 1.348vw, 2.8rem);
}

.text {
  color: var(--dark-blue);
  opacity: 75%;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: clamp(1.6rem, 1.191rem + 0.899vw, 2rem);
}

.author-name {
    color: var(--dark-gray-blue);
    font-weight: var(--fw-bold);
}

.article-date {
    color: var(--gray-blue);
}

.hidden {
    display: none !important;
}